@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
body {
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
	font-family: 'Slabo 27px', serif;
	background-color: #F0F8FF;
}

h1 {
	text-align: center;
}

h2 { 
	font-style : italic;
	font-weight : normal;
	margin-bottom : 0px;
}

figure {
	float : right;
	margin-left : 20px;
}

p { 
	line-height: 1.2em; 
	font-size: 150%;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}