@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
body {
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
	font-family: 'Slabo 27px', serif;
	background-color: #EFF1FF;
	color: #2C2C34;
}

h1 {
	text-align: center;
	font-size: 300%;
	color: #274060;

}

h2 { 
	font-style : italic;
	font-weight : normal;
	margin-bottom : 0px;
	color: #274060;
}

figure {
	float : right;
	margin-left : 20px;
}

p { 
	line-height: 1.2em; 
	font-size: 150%;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

a {color: #5092C9;}

a:hover {color: #B18FCF;
	padding: 5px;}